<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HR</title>
    <script type="text/javascript"></script>
    <!-- STYLE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</head>

<body class="container">
    <h1 class="alert alert-primary text-center">Confirmer la suppression </h1>

    <!-- Afficher les informations du joueur -->
    <ul class="list-group">
        <li class="list-group-item d-flex">
            <div class="col">Identifiant</div>
            <div class="col" th:text="${joueur.id}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col">Pseudo</div>
            <div class="col" th:text="${joueur.nickname}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col">E-mail</div>
            <div class="col" th:text="${joueur.email}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col">Participations</div>
            <div class="col" th:text="${joueur.contests}"></div>
        </li>
        <li class="list-group-item d-flex">
            <div class="col">Victoires</div>
            <div class="col" th:each="win: ${joueur.wins}">
                <div th:text="${win}"></div>
            </div>
        </li>
    </ul>
    <form method="post">
        <div class="d-flex justify-content-between">
            <button class="btn btn-success">Confirmer</button>
            <a href="/joueurs" class="btn btn-danger">Annuler</a>
        </div>
    </form>
</body>

</html>